@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    overflow-x: hidden;
}

@font-face {
    font-family: 'Jura';
    font-style: SemiBold;
    font-weight: 700;
    src: local(''), url('/fonts/Jura-Semibold.ttf') format('woff');
}